<h1>{{ 'about' | localize }}</h1>
<p>{{ 'about_main' | localize }}</p>

<h2>{{ 'about_experince' | localize }}</h2>
<app-cards>
  <app-card [opened]="true">
    <span title class="about-card-title">
      <span>Vývojáři UO</span>
      <span class="time-span">5/2022 - *</span>
    </span>
    <span content>
      <p>{{ 'vyvojari_main' | localize }}</p>
      <span>{{ 'about_technologies' | localize }}</span>
      <ul>
        <li>.NET C#</li>
        <li>.NET Blazor</li>
        <li>.NET MAUI</li>
        <li>ASP.NET Core</li>
        <li>Entity Framework Core</li>
      </ul>
    </span>
  </app-card>
  <app-card>
    <span title class="about-card-title">
      <span>ABB</span>
      <span class="time-span">8/2017 - 4/2022</span>
    </span> <span content>
      <p>{{ 'abb_main' | localize }}</p>
      <span>{{ 'about_technologies' | localize }}</span>
      <ul>
        <li>Angular</li>
        <li>Ionic Framework</li>
        <li>.NET C#</li>
        <li>.NET WPF</li>
        <li>ASP.NET Core</li>
        <li>Entity Framework Core</li>
      </ul>
    </span>
  </app-card>
  <app-card>
    <span title class="about-card-title">
      <span>Tieto</span>
      <span class="time-span">6/2017 - 8/2017</span>
    </span>
    <span content>
      <p>{{ 'tieto_main' | localize }}</p>
    </span>
  </app-card>
</app-cards>

<h2>{{ 'about_education' | localize }}</h2>
<app-cards>
  <app-card [opened]="true">
    <span title class="about-card-title">
      <span>VŠB TUO - FEI</span>
      <span class="time-span">2015-2018</span>
    </span>
    <span content>
      <p>{{ 'vsb_main' | localize }}</p>
      <p>{{ 'vsb_finish' | localize }}</p>
    </span>
  </app-card>
  <app-card>
    <span title class="about-card-title">
      <span>{{ 'oa' | localize }}</span>
      <span class="time-span">2010-2014</span>
    </span>
    <span content>
      <p>{{ 'oa_main' | localize }}</p>
      <p>{{ 'oa_finish' | localize }}</p>
    </span>
  </app-card>
</app-cards>

<h2>{{ 'about_languages' | localize }}</h2>
<app-cards>
  <app-card [opened]="true">
    <span title class="about-card-title">
      <span>{{ 'czech' | localize }}</span>
      <span class="time-span">C2</span>
    </span>
    <span content>{{ 'czech_main' | localize }}</span>
  </app-card>
  <app-card>
    <span title class="about-card-title">
      <span>{{ 'english' | localize }}</span>
      <span class="time-span">C1</span>
    </span>
    <span content>{{ 'english_main' | localize }}</span>
  </app-card>
  <app-card>
    <span title class="about-card-title">
      <span>{{ 'german' | localize }}</span>
      <span class="time-span">A1/A2</span>
    </span>
    <span content>{{ 'german_main' | localize }}</span>
  </app-card>
  <app-card>
    <span title class="about-card-title">
      <span>{{ 'spanish' | localize }}</span>
      <span class="time-span">A1/A2</span>
    </span>
    <span content>{{ 'spanish_main' | localize }}</span>
  </app-card>
</app-cards>