<h1>About</h1>
<p>I'm a software developer working mainly on web applications in <strong>Angular</strong>. I've also worked with .NET a
  lot developing REST APIs in ASP.NET with Entity Framework to access MS SQL Databases and WPF, MAUI and Blazor
  technologies for UI.</p>

<h2>Work Experience</h2>
<app-cards>
  <app-card [opened]="true">
    <span title class="about-card-title">
      <span>Vývojáři UO</span>
      <span class="time-span">since 5/2022</span>
    </span>
    <span content>
      <p>Backoffice applications for public transport companies.</p>
      <span>Technologies:</span>
      <ul>
        <li>.NET C#</li>
        <li>.NET Blazor</li>
        <li>.NET MAUI</li>
        <li>ASP.NET Core</li>
        <li>Entity Framework Core</li>
      </ul>
    </span>
  </app-card>
  <app-card>
    <span title class="about-card-title">
      <span>ABB</span>
      <span class="time-span">8/2017 - 4/2022</span>
    </span> <span content>
      <p>Applications for naval transport.</p>
      <span>Technologies:</span>
      <ul>
        <li>Angular</li>
        <li>Ionic Framework</li>
        <li>.NET C#</li>
        <li>.NET WPF</li>
        <li>ASP.NET Core</li>
        <li>Entity Framework Core</li>
      </ul>
    </span>
  </app-card>
  <app-card>
    <span title class="about-card-title">
      <span>Tieto</span>
      <span class="time-span">6/2017 - 8/2017</span>
    </span>
    <span content>
      <p>Part time job as remote Windows user support.</p>
    </span>
  </app-card>
  <!-- <app-card>
    <span title class="experience-title">
      <span>Electrowold</span>
      <span class="time-span">8/2016 - 6/2017</span>
    </span>
    <span content>
      <p>Part time job as a sales assistant in IT and Mobile phones department</p>
    </span>
  </app-card> -->
</app-cards>

<h2>Education</h2>
<app-cards>
  <app-card [opened]="true">
    <span title class="about-card-title">
      <span>VŠB TUO - FEI</span>
      <span class="time-span">2015-2018</span>
    </span>
    <span content>
      <p>University studuies at faculty of electronical engineering and information technologies.</p>
      <p>Finished with bachelors digree.</p>
    </span>
  </app-card>
  <app-card>
    <span title class="about-card-title">
      <span>Business academy</span>
      <span class="time-span">2010-2014</span>
    </span>
    <span content>
      <p>Business, economy, accounting and law focused high school</p>
      <p>Finished with graduation.</p>
    </span>
  </app-card>
</app-cards>

<h2>Languages</h2>
<app-cards>
  <app-card [opened]="true">
    <span title class="about-card-title">
      <span>Czech</span>
      <span class="time-span">C2</span>
    </span>
    <span content>Mother tongue.</span>
  </app-card>
  <app-card>
    <span title class="about-card-title">
      <span>English</span>
      <span class="time-span">C1</span>
    </span>
    <span content>Advanced with no certification.</span>
  </app-card>
  <app-card>
    <span title class="about-card-title">
      <span>German</span>
      <span class="time-span">A1/A2</span>
    </span>
    <span content>Beginner with no certification.</span>
  </app-card>
  <app-card>
    <span title class="about-card-title">
      <span>Spanish</span>
      <span class="time-span">A1/A2</span>
    </span>
    <span content>Beginner with no certification.</span>
  </app-card>
</app-cards>