<h1>About</h1>
<p>There are some apps I've created and are free to be used by anyone</p>

<app-cards>
  <app-card>
    <span title class="app-title">
      <fa-icon [icon]="faGift" />
      Gifts List
    </span>
    <div content class="app-content">
      <div>
        <p>is an app I've create to help me with shopping for Christmass and Birthday presents.</p>
        <small>Could be improved:
          <ul>
            <li>Data is stored in browser and is available only on one device</li>
            <li>The data can be easily decoded</li>
          </ul>
        </small>
      </div>
      <a href="/apps/gifts-list">Open</a>
    </div>
  </app-card>
</app-cards>