<h1>{{ 'myApps' | localize }}</h1>
<p>{{ 'myApps_main' | localize }}</p>

<app-cards>
  <app-card>
    <span title class="app-title">
      <fa-icon [icon]="faGift" />
      {{ 'gifts-list' | localize }}
    </span>
    <div content class="app-content">
      <div>
        <p>
          {{ 'gifts-list_description' | localize }}</p>
        <small>{{ 'myApps_improve' | localize }}
          <ul>
            <li>{{ 'gifts-list_improve1' | localize }}</li>
            <li>{{ 'gifts-list_improve2' | localize }}</li>
          </ul>
        </small>
      </div>
      <a href="/apps/gifts-list">{{ 'myApps_open' | localize }}</a>
    </div>
  </app-card>
</app-cards>