.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#back-button {
  position: fixed;
  top: 10px;
  left: var(--left-action-button-offset);
}