<button class="icon-button" (click)="onBack()" title="Back">
  <fa-icon [icon]="faChevronLeft" />
</button>
<div class="center-content">
  <form>
    <app-input [(value)]="password" type="password" [label]="'password' | localize" />
    <button [disabled]="!password" (click)="onAuthorize()">{{ 'authorize' | localize }}</button>
  </form>
</div>

<app-dialog [visible]="registerDialogVisible">
  <form>
    <p>{{ 'registerQuestion' | localize }}</p>
    <div class="dialog-actions">
      <button (click)="registerDialogVisible.set(false)">{{ 'no' | localize }}</button>
      <button (click)="onRegister()">{{ 'yes' | localize }}</button>
    </div>
  </form>
</app-dialog>