<div id="page-wrapper">
  <div id="header">
    <span id="header-title">Bc. Patrik Kubíček</span>
    <span id="theme-switch" (click)="changeTheme()">Theme</span>
  </div>
  <main>
    <div id="content">
      <router-outlet></router-outlet>
    </div>
  </main>
  <div id="footer">
    <div class="contacts">
      <a class="contact" href="tel:+420703433767">
        <img class="icon" src="assets/icons/phone.png">
        <span>+420 703 433 767</span>
      </a>
      <a class="contact" href="https://wa.me/+420703433767" target="_blank">
        <img class="icon" src="assets/icons/whatsapp.png">
        <span>+420 703 433 767</span>
      </a>
      <a class="contact" href="mailto:pkubicek95@gmail.com">
        <img class="icon" src="assets/icons/at.png">
        <span>pkubicek&#64;gmail.com</span>
      </a>
      <a class="contact" href="https://www.linkedin.com/in/patrik-kub%C3%AD%C4%8Dek-348626137/" target="_blank">
        <img class="icon" src="assets/icons/linkedin.png">
        <span>Linked-In</span>
      </a>
    </div>
  </div>
  <div id="devnote">
    <a href="https://patrikkubicek.dev" target="_blank">By Patrik Kubíček &#64;2023</a>
  </div>
</div>