<div id="page-wrapper">
  <div id="header">
    <span id="header-title">Bc. Patrik Kubíček</span>
    <span id="theme-switch" (click)="changeTheme()">
      <fa-icon [icon]="currentTheme == 'dark' ? faSun : faMoon" />
    </span>
  </div>
  <main>
    <div id="content">
      <router-outlet></router-outlet>
    </div>
  </main>
  <div id="footer">
    <div class="contacts">
      <a class="contact" href="tel:+420703433767">
        <fa-icon [icon]="faPhone" />
        <span>+420 703 433 767</span>
      </a>
      <a class="contact" href="https://wa.me/+420703433767" target="_blank">
        <fa-icon [icon]="faWhatsapp" />
        <span>+420 703 433 767</span>
      </a>
      <a class="contact" href="mailto:pkubicek95@gmail.com">
        <fa-icon [icon]="faAt" />
        <span>pkubicek&#64;gmail.com</span>
      </a>
      <a class="contact" href="https://www.linkedin.com/in/patrik-kub%C3%AD%C4%8Dek-348626137/" target="_blank">
        <fa-icon [icon]="faLinkedin" />
        <span>Patrik Kubíček</span>
      </a>
    </div>
  </div>
  <div id="devnote">
    <a href="https://patrikkubicek.dev" target="_blank">By Patrik Kubíček &#64;2023</a>
  </div>
</div>