:host {
  --radius: 8px;
  width: 60px;
  height: 350px;
  background-color: var(--background-light);
  border: 1px solid var(--color);
  transition: width ease-out 1s;
  overflow: hidden;
  position: relative;

  &:first-of-type {
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
  }

  &:last-of-type {
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
  }

  &:has(.opened) {
    width: 400px;

    .card-title {
      rotate: 0deg;
      bottom: calc(100% - 3rem);
      left: 2rem;
    }

    .card-content {
      opacity: 1;
      transition: all 1s ease-in-out .5s;
    }
  }

  .card-title {
    cursor: pointer;
    position: absolute;
    rotate: -90deg;
    bottom: 2rem;
    left: 20%;
    transition: all 1s ease-in-out;
  }

  .card-content {
    opacity: 0;
    padding: 2rem;
    padding-top: 5rem;
    width: 400px;
    overflow: hidden;
  }
}