:host {
  --radius: 8px;
  width: 60px;
  height: 350px;
  background-color: var(--background-light);
  border: 1px solid var(--color);
  transition: width ease-out 1s;
  overflow: hidden;
  position: relative;

  &:first-of-type {
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
  }

  &:last-of-type {
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
  }

  &:has(.opened) {
    width: 400px;

    .card-title {
      transform: rotate(0deg) scale(1.2);
      bottom: calc(100% - 4rem);
      left: 2rem;
      width: calc(85% - 4rem);
      font-weight: bold;
    }

    .card-content {
      opacity: 1;
      transition: all 1s ease-in-out .5s;
      pointer-events: all;
    }
  }

  .card-wrapper {
    height: 100%;
  }

  .card-title {
    cursor: pointer;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: top left;
    bottom: -.5rem;
    left: 1rem;
    transition: all 1s ease-in-out;
    height: 30px;
    width: 300px;
    display: flex;
    align-items: center;
  }

  .card-content {
    opacity: 0;
    padding: 2rem;
    padding-top: 6rem;
    width: 400px;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
  }
}