<h1>Hello world</h1>
<p>I'm Patrik, a freelance software developer focused on <strong>front-end</strong> but not affraid to dig deep in the <strong>back-end</strong> development.</p>

<h2>Experience</h2>
<ul>
  <li>For 5 years employed in a world-wide company</li>
  <li>1.5+ year freelancing</li>
</ul>
<p>With this experience I've grown into a self sufficient unit able to provide services in software development including <strong>web and desktop applications</strong>.</p>
<p>To see more about my experience go to <a href="/about">About</a>.</p>

<h2>Availability</h2>
<p>Feel free to contact me using the information at the bottom of the page so we can discuss your needs and my availability.</p>