<app-cards>
  <app-card>
    <span icon>ICON</span>
    <span content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum obcaecati ipsam minima at commodi porro dignissimos
      nostrum odit. Fuga nam velit facere assumenda asperiores laudantium. Consectetur, ipsum consequuntur. Incidunt,
      pariatur!
    </span>
  </app-card>
  <app-card>
    <span icon>ICON</span>
    <span content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum obcaecati ipsam minima at commodi porro dignissimos
      nostrum odit. Fuga nam velit facere assumenda asperiores laudantium. Consectetur, ipsum consequuntur. Incidunt,
      pariatur!
    </span>
  </app-card>
</app-cards>