<button id="back-button" class="icon-button secondary" (click)="onBack()" [title]="'back' | localize">
  <fa-icon [icon]="faChevronLeft" />
</button>
<button id="add-button" class="icon-button" (click)="addDialogVisible.set(true)" [title]="'add' | localize">
  <fa-icon [icon]="faPlus" />
</button>

<h1>{{ giftee()?.name }}</h1>
<app-input [label]="'search' | localize" [value]="searchPattern()" (valueChange)="searchPattern.set($event);"
  [icon]="faSearch"></app-input>

<app-expander>
  <div title class="group-title">
    <fa-icon [icon]="faLightbulb" />
    <span>{{ 'ideas' | localize }}</span>
  </div>
  @for(gift of ideas(); track gift.id){
  <ng-container *ngTemplateOutlet="giftTemplate; context: {$implicit: gift}" />
  }
  @empty {
  <p class="empty-note">{{ 'noIdeasFound' | localize }}</p>
  }
</app-expander>

<app-expander>
  <div title class="group-title">
    <fa-icon [icon]="faCheck" />
    <span>{{ 'readyToGive' | localize }}</span>
  </div>
  @for(gift of ready(); track gift.id){
  <ng-container *ngTemplateOutlet="giftTemplate; context: {$implicit: gift}" />
  }
  @empty {
  <p class="empty-note">{{ 'noReadyToGiveFound' | localize }}</p>
  }
</app-expander>

<app-expander [open]="false">
  <div title class="group-title">
    <fa-icon [icon]="faClockRotateLeft" />
    <span>{{ 'history' | localize }}</span>
  </div>
  @for(gift of history(); track gift.id){
  <ng-container *ngTemplateOutlet="giftTemplate; context: {$implicit: gift}" />
  }
  @empty {
  <p class="empty-note">{{ 'noHistoryFound' | localize }}</p>
  }
</app-expander>

<ng-template #giftTemplate let-gift>
  <div class="gift-card">
    <div class="gift-head">
      <span>{{ gift.name }}</span>
    </div>
    <div class="gift-actions">
      <div class="gift-actions-group">
        <button class="icon-button small danger" (click)="onDelete(gift)" [title]="'delete' | localize">
          <fa-icon [icon]="faTrash" />
        </button>
        <button class="icon-button small secondary" (click)="onEdit(gift)" [title]="'edit' | localize">
          <fa-icon [icon]="faPencil" />
        </button>
      </div>
      <div class="gift-actions-group">
        <button *ngIf="gift.state === 'readyToGive'" class="icon-button small secondary" (click)="onCheck(gift, 'idea')"
          [title]="'markAsIdea' | localize">
          <fa-icon [icon]="faLightbulb" />
        </button>
        <button *ngIf="gift.state !== 'readyToGive'" class="icon-button small"
          [ngClass]="gift.state == 'history' ? 'secondary': ''" (click)="onCheck(gift, 'readyToGive')"
          [title]="'markAsReadyToGive' | localize">
          <fa-icon [icon]="faCheck" />
        </button>
        <button *ngIf="gift.state === 'readyToGive'" class="icon-button small" (click)="onCheck(gift, 'history')"
          [title]="'markAsHistory' | localize">
          <fa-icon [icon]="faClockRotateLeft" />
        </button>
      </div>
    </div>
  </div>
</ng-template>

<app-dialog [visible]="addDialogVisible" (onEnter)="onAdd()">
  <form>
    <app-input [label]="'name' | localize" type="text" [(value)]="addName" />
    <div class="dialog-buttons">
      <button class="secondary" (click)="addDialogVisible.set(false)" type='button'>{{ 'cancel' | localize }}</button>
      <button (click)="onAdd()" [disabled]="!addName" type='button'>{{ 'add' | localize }}</button>
    </div>
  </form>
</app-dialog>

<app-dialog [visible]="editDialogVisible" (onEnter)="onEditComplete()">
  <form>
    <app-input [label]="'name' | localize" type="text" [(value)]="editName" />
    <div class="dialog-buttons">
      <button class="secondary" (click)="editDialogVisible.set(false)" type='button'>{{ 'cancel' | localize }}</button>
      <button (click)="onEditComplete()" [disabled]="!editName" type='button'>{{ 'save' | localize }}</button>
    </div>
  </form>
</app-dialog>