<div id="page-wrapper" [class.app-mode]="appMode$ | async">
  <div id="header">
    <span id="header-title">Bc. Patrik Kubíček</span>
    <nav tabindex="-1">
      <fa-icon id="nav-trigger" [icon]="faBars"></fa-icon>
      <div id="nav-items">
        <a routerLink="/home" routerLinkActive="active">{{ 'home' | localize }}</a>
        <a routerLink="/about" routerLinkActive="active">{{ 'about' | localize }}</a>
        <a routerLink="/apps" routerLinkActive="active">{{ 'myApps' | localize }}</a>
      </div>
    </nav>
    <span id="locale-switch" *ngIf="(language$ | async) as language"
      (click)="changeLanguage(language == 'en' ? 'cz' : 'en')">
      <span *ngIf="language == 'en'">CZ</span>
      <span *ngIf="language == 'cz'">EN</span>
    </span>
    <span id="theme-switch" (click)="changeTheme()">
      <fa-icon [icon]="currentTheme == 'dark' ? faSun : faMoon" />
    </span>
  </div>
  <main>
    <div id="content">
      <router-outlet></router-outlet>
    </div>
  </main>
  <div id="footer">
    <div class="contacts-title">{{ 'contacts' | localize }}</div>
    <div class="contacts">
      <a class="contact" href="tel:+420703433767">
        <fa-icon [icon]="faPhone" />
        <span>+420 703 433 767</span>
      </a>
      <a class="contact" href="https://wa.me/+420703433767" target="_blank">
        <fa-icon [icon]="faWhatsapp" />
        <span>+420 703 433 767</span>
      </a>
      <a class="contact" href="mailto:pkubicek95@gmail.com">
        <fa-icon [icon]="faAt" />
        <span>pkubicek&#64;gmail.com</span>
      </a>
      <a class="contact" href="https://www.linkedin.com/in/patrik-kub%C3%AD%C4%8Dek-348626137/" target="_blank">
        <fa-icon [icon]="faLinkedin" />
        <span>Patrik Kubíček</span>
      </a>
      <a class="contact" href="https://github.com/N0M3N" target="_blank">
        <fa-icon [icon]="faGithub" />
        <span>N0M3N</span>
      </a>
    </div>
  </div>
  <div id="devnote">
    <a href="https://patrikkubicek.dev" target="_blank">By Patrik Kubíček &#64;2023</a>
  </div>
</div>