#page-wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-rows: max-content auto max-content max-content;

  #header,
  #footer,
  #devnote {
    background-color: var(--background-light);
  }

  #header {
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: max-content auto max-content max-content;
    gap: 2rem;
    align-items: center;

    #header-title {
      font-size: large;
      letter-spacing: 2px;
      padding-right: 2rem;

      &.hidden {
        visibility: hidden;
      }
    }

    #nav-trigger {
      display: none;
      cursor: pointer;
      font-size: 20px;
    }

    #nav-items {
      display: flex;
      flex-direction: row;
      gap: 2rem;

      a {
        color: var(--color);
        font-style: normal;
        font-weight: bold;
        border: none;
        text-wrap: nowrap;
      }

      a.active {
        color: var(--accent);
        text-decoration: underline;
      }
    }

    #locale-switch {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: .5rem;

      fa-icon {
        font-size: 20px;
      }
    }

    #theme-switch {
      cursor: pointer;
      width: 15px;
      height: 15px;
      display: flex;
      padding: 16px;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    }
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2rem;
    min-height: 600px;

    #content {
      max-width: 800px;
      padding: 3vw;
      min-width: 50vw;
    }
  }

  #footer {
    padding-block: 3rem 2rem;

    .contacts-title {
      width: 100%;
      text-align: center;
      padding-bottom: 2rem;
      font-size: 1.4rem;
    }

    .contacts {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3rem;

      .contact {
        color: var(--color);
        min-width: 200px;
        max-width: 220px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border: none;

        fa-icon {
          font-size: 30px;
          color: var(--accent);
        }
      }
    }
  }

  #devnote {
    text-align: center;
    font-size: 70%;
    padding-block: .5rem;

    a {
      color: var(--color);
      border: none;
    }
  }
}



@media screen and (max-width: 800px) {
  #header {
    grid-template-columns: auto max-content max-content max-content !important;

    #nav-trigger {
      display: block !important;
    }

    #nav-items {
      display: none !important;
    }

    nav:focus-within {
      position: relative;

      #nav-items {
        background-color: var(--background);
        border: 1px solid var(--color);
        display: flex !important;
        flex-direction: column !important;
        position: absolute !important;
        padding: 2rem;
        right: 0;
        right: -8px;
        min-width: 200px;
        top: 42px;
      }
    }
  }
}