<h1>{{ 'myApps' | localize }}</h1>
<p>{{ 'myApps_main' | localize }}</p>

<app-cards>
  <app-card [opened]="true">
    <span title class="app-title">
      <fa-icon [icon]="faGift" />
      {{ 'gifts-list' | localize }}
    </span>
    <div content class="app-content">
      <div>
        <p>
          {{ 'gifts-list_description' | localize }}</p>
        <small>{{ 'myApps_improve' | localize }}
          <ul>
            <li>{{ 'gifts-list_improve1' | localize }}</li>
          </ul>
        </small>
      </div>
      <a routerLink="/apps/gifts-list">{{ 'myApps_open' | localize }}</a>
    </div>
  </app-card>

  <app-card [opened]="easyCmsOpened" (openedChanged)="easyCmsOpened = $event">
    <span title class="app-title" [class.opened]="easyCmsOpened">
      <img class="text-color" src="../../../assets/icons/easy-cms.png">
      EASY-CMS
    </span>
    <div content class="app-content">
      <p>{{ 'easy-cms_description' | localize }}</p>
    </div>
  </app-card>
</app-cards>