:root {
  --primary: 225, 225, 225;
  --secondary: 20, 20, 20;
  --tertiary: 51, 113, 122;

  --white: rgb(255, 255, 255);
  --success: rgb(3, 252, 107);
  --warning: rgb(214, 180, 58);
  --danger: rgb(196, 62, 47);

  --left-action-button-offset: 2rem;
  --right-action-button-offset: calc(6rem + 32px + 20px);
}

@font-face {
  font-family: 'FaunaOne';
  src: url('/assets/fonts/FaunaOne-Regular.ttf');
}

body,
html {
  min-height: 100svh;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--color);
  font-family: 'FaunaOne';
  font-size: 14px;
  letter-spacing: .5px;
  transition: background-color .5s ease;
}

body.light {
  --background: rgb(var(--primary));
  --background-light: rgba(var(--secondary), .1);
  --color: rgb(var(--secondary));
  --accent: rgb(var(--tertiary));

  img.text-color {
    filter: brightness(0);
  }
}

body.dark {
  --background: rgb(var(--secondary));
  --background-light: rgba(var(--primary), .1);
  --color: rgb(var(--primary));
  --accent: rgb(var(--tertiary));

  img.text-color {
    filter: brightness(0) invert(1);
  }
}

* {
  box-sizing: border-box;

  &::selection {
    background-color: var(--accent);
  }
}

p {
  line-height: 200%;
}

h2 {
  padding-top: 2rem;
}

a {
  color: var(--accent);
  text-decoration: none;
  border-bottom: 1px solid var(--color);
  font-style: italic;
}

strong {
  border-bottom: 1px solid var(--accent);
}

form {
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
  min-width: 100px;
}

button,
input[type="submit"] {
  padding: 1rem 2rem;
  background-color: var(--accent);
  color: var(--white);
  border: none;
  letter-spacing: 2px;
  transition: all .25s ease;
  cursor: pointer;
  pointer-events: all;

  &.danger {
    background-color: var(--danger);
  }

  &.secondary {
    background-color: var(--background-light);
    border: 1px solid var(--accent);
  }

  &.icon-button {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.small {
      width: 30px;
      height: 30px;
    }
  }

  &:not([disabled]):hover {
    background-color: var(--white);
    color: var(--accent);

    &.danger {
      color: var(--danger);
    }
  }

  &[disabled] {
    background-color: var(--background-light);
    pointer-events: none;
  }
}

.empty-note {
  color: var(--color);
  opacity: .5;
  text-align: center;
  font-size: 80%;
  font-style: italic;
}

ul li {
  line-height: 170%;
  padding-block: .3rem;
}