<button id="back-button" class="icon-button danger" (click)="onLogOut()" [title]="'logOut' | localize">
  <fa-icon [icon]="faLock" />
</button>
@if(id() !== null){
<button id="add-button" class="icon-button" (click)="addDialogVisible.set(true)" [title]="'add' | localize">
  <fa-icon [icon]="faPlus" />
</button>
}
<h1>{{ 'giftees' | localize }}</h1>
<app-input [label]="'search' | localize" [value]="searchPattern()" (valueChange)="searchPattern.set($event);"
  [icon]="faSearch"></app-input>

<app-expander>
  <div title class="group-title">
    <fa-icon [icon]="faLightbulb" />
    <span>{{ 'incomplete' | localize }}</span>
  </div>
  @for(giftee of incompleteGiftees(); track giftee.id){
  <ng-container *ngTemplateOutlet="gifteeTemplate; context: {$implicit: giftee}" />
  }
  @empty {
  <p class="empty-note">{{ 'incompleteNotFound' | localize }}</p>
  }
</app-expander>


<app-expander [open]="false">
  <div title class="group-title">
    <fa-icon [icon]="faCheck" />
    <span>{{ 'complete' | localize }}</span>
  </div>
  @for(giftee of completeGiftees(); track giftee.id){
  <ng-container *ngTemplateOutlet="gifteeTemplate; context: {$implicit: giftee}" />
  }
  @empty {
  <p class="empty-note">{{ 'completeNotFound' | localize }}</p>
  }
</app-expander>

<ng-template #gifteeTemplate let-giftee>
  <div class="giftee-card">
    <div class="giftee-head" (click)="openGifts(giftee)">
      <span>{{ giftee.name }}</span>
      <fa-icon [icon]="faChevronRight" />
    </div>
    <div class="giftee-actions">
      <div class="giftee-actions-group">
        <button class="icon-button small danger" (click)="onDelete(giftee)" [title]="'delete' | localize">
          <fa-icon [icon]="faTrash" />
        </button>
        <button class="icon-button small secondary" (click)="onEdit(giftee)" [title]="'edit' | localize">
          <fa-icon [icon]="faPencil" />
        </button>
      </div>
      <div class="giftee-actions-group">
        <span [title]="'numberOfReadyGifts' | localize">{{ 'gifts' | localize }}: {{ giftee.giftsCount }}</span>
        <button class="icon-button small" [class.secondary]="giftee.isComplete"
          (click)="onCheck(giftee, !giftee.isComplete)"
          [title]="(giftee.isComplete ? 'markIncomplete' : 'markComplete') | localize">
          <fa-icon [icon]="giftee.isComplete ? faLightbulb : faCheck" />
        </button>
      </div>
    </div>
  </div>
</ng-template>

<app-dialog [visible]="addDialogVisible" (onEnter)="onAdd()">
  <form>
    <app-input [label]="'name' | localize" type="text" [(value)]="addName" />
    <div class="dialog-buttons">
      <button class="secondary" (click)="addDialogVisible.set(false)" type='button'>{{ 'cancel' | localize }}</button>
      <button (click)="onAdd()" [disabled]="!addName" type='button'>{{ 'add' | localize }}</button>
    </div>
  </form>
</app-dialog>

<app-dialog [visible]="editDialogVisible" (onEnter)="onEditComplete()">
  <form>
    <app-input [label]="'name' | localize" type="text" [(value)]="editName" />
    <div class="dialog-buttons">
      <button class="secondary" (click)="editDialogVisible.set(false)" type='button'>{{ 'cancel' | localize }}</button>
      <button (click)="onEditComplete()" [disabled]="!editName" type='button'>{{ 'save' | localize }}</button>
    </div>
  </form>
</app-dialog>